{% extends "base.html" %}
{% load static %}
{% block content %}
<h2 class="title">
  <span id='title'>第 <span id='week'></span> 周课表</span>

</h2>
<div class="search">

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" style="margin-right: 15px;"><button type="button" class="btn btn-primary"
          onclick="window.location.href='/savedata?week={{week}}&cid={{cid}}'">保存csv</button></li>
      <li class="page-item" style="margin-right: 15px;"><a class="page-link"
          href="?week={{week|add:-1}}&cid={{cid}}">上一周</a></li>
      <li class="page-item"><a class="page-link" href="?week={{week|add:1}}&cid={{cid}}">下一周</a></li>
    </ul>
  </nav>
<div>
  <strong style="margin-right: 15px;">你好,{{user}}！</strong>
  <a href="/login">退出登录</a>
</div>

</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">课程详细</h1>
        <button type="button" class="btn-close" id="close1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="dataid" class="form-label">id</label>
          <input type="text" class="form-control" id="dataid" placeholder="id" disabled="true">
        </div>
        <div class="mb-3">
          <label for="dataweek" class="form-label">周次</label>
          <input type="text" class="form-control" id="dataweek" placeholder="数字(1,2,3)" disabled="true">
        </div>
        <div class="mb-3">
          <label for="datasubject" class="form-label">学科</label>
          <input type="text" class="form-control" id="datasubject" placeholder="学科" disabled="true">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="dataday" >星期</label>
          <select class="form-select" id="dataday" disabled="true">
            <option value="1">星期一</option>
            <option value="2">星期二</option>
            <option value="3">星期三</option>
            <option value="4">星期四</option>
            <option value="5">星期五</option>
            <option value="6">星期六</option>
            <option value="7">星期天</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="dataSection">节次</label>
          <select class="form-select" id="dataSection" disabled="true">
            <option value="1">第一节</option>
            <option value="2">第二节</option>
            <option value="3">第三节</option>
            <option value="4">第四节</option>
            <option value="5">第五节</option>
            <option value="6">第六节</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="teacherlist">授课老师</label>
          <select class="form-select" id="teacherlist" disabled="true">

          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="classlist" >班级</label>
          <select class="form-select" id="classlist" disabled="true">

          </select>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="roomlist">教室</label>
          <select class="form-select" id="roomlist" disabled="true">

          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-secondary" aria-label="Close" data-bs-dismiss="modal" >关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="main">

  <div class="section">
    <div id="label">节次/星期</div>
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
  </div>
  <div class="courses">

    <div class="weeks">
      <div>周一</div>
      <div>周二</div>
      <div>周三</div>
      <div>周四</div>
      <div>周五</div>
      <div>周六</div>
      <div>周日</div>
    </div>
    <div class="datas">
      <div>

      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

{% endblock content %}
{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock js %}